/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
     display: block;
}

body {
     line-height: 1;
}

ol,
ul {
     list-style: none;
}

blockquote,
q {
     quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
     content: '';
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0;
}


/* Box Model Hack */
*,
*::after,
*::before {
     padding: 0;
     box-sizing: inherit;
}


/******************************************
/* UTILITIES
/*******************************************/

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root{
	 --green: green;
     --black: #000000;
	 --white: #ffffff;
	 --metallic-silver-light: #dce3e9; 
	 --metallic-silver: #bfc5ca; 
	 --cool-grey: #969fa6;
	 --oslo-grey: #7F888F;
	 --grey: grey; 
	 --mako: #3D4449;
	 --porcelain: #F5F6F7; 
	 --anti-flash: #eff1f2;
}

html {
     font-size: 62.5%;
}


body {
     box-sizing: border-box;
     line-height: 1.5;
	 background-color: var(--white);
	 font-family: 'Roboto Slab', serif;
}


/******************************************
/* LAYOUT
/*******************************************/

.inner {
	padding: 0 2.4rem; 
}


/******************************************
/* NAVIGATION & HAMBURGER MENU
/*******************************************/
nav{
	display: flex; 
	justify-content: space-between;
}

nav ul {
	display: flex; 
	color: var(--cool-grey);
	align-items: center;

}

nav li:not(:last-child) {
	padding-right: 1.3rem; 
}

nav > span i{
	color: var(--cool-grey);
	background-color: var(--metallic-silver-light);
	padding: 1.8rem 1.8rem; 
	border-radius:3px; 
}

header{
	padding: 1rem 0 1rem 0; 
	border-bottom: 5px solid var(--green);

}

header > a {
	text-decoration: none;
	color: var(--oslo-grey);
	display: inline-block; 
	padding: 2.5rem 0 0.4rem; 
}
header > a strong {
	text-decoration: none;
	color: var(--mako);
	font-weight: 600;
}



.sidenav {
	display: none;
	height: 100%;
	width: 260px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:var(--porcelain);
	overflow-x: hidden;
	padding: 2rem; 

  }

.sidenav i{
	color: var(--green);
}

.sidenav h3{
	border-bottom:var(--green) solid 3px;
	display: inline-block;
	color: var(--mako);
	padding-bottom: 0.5rem;
	margin-bottom: 3rem;
	font-weight: 700;
}

.sidenav h3 + p {
	font-family: 'Open sans';
}

.sidenav p, .sidenav li{
	color: var(--oslo-grey);
}


.sidenav li:nth-child(n+1){
	margin-top: 1rem;
	padding-top: 1rem; 
	
}


.sidenav li:not(:last-child){
	border-bottom:1px solid  rgba(210, 215, 217, 0.75);
}


.sidenav li{
	color: var(--oslo-grey);
	padding-bottom: 1rem;
}


.sidenav li span {
	border-bottom: dotted 1px;

}

/* .sidenav div {
	display: flex;
} */

.sidenav ul{
	margin: 0 auto; 
	display: flex; 
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: 3rem;
	margin-bottom: 3rem; 
	border-bottom:3px solid  rgba(210, 215, 217, 0.75);

}

.sidenav ul + p{
	color:var(--cool-grey)
}

.sidenav ul + p em{
	font-style: italic;
}

.sidenav .envelope-icon:before {
	font-family: "Font Awesome 5 Free";
	content: "\f0e0";
	font-weight: 400;
	padding-right: 1.5rem;
	color:var(--green);
	font-size: 1.5rem;

}


.sidenav .twitter-icon:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f099";
	font-weight: 400;
	padding-right: 1.5rem;
	color:var(--green);
	font-size: 1.5rem;

}


.sidenav .linkedin-icon:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f08c";
	font-weight: 400;
	padding-right: 1.5rem;
	color:var(--green);
	font-size: 1.5rem;

}

.sidenav .github-icon:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f09b";
	font-weight: 400;
	padding-right: 1.5rem;
	color:var(--green);
	font-size: 1.5rem;

}

  
  /* .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  } */




  .form{
	  background-color: var(--anti-flash);
	  padding: 1.66rem;
	  
  }
  .search-field {
	border: solid 1px rgba(210, 215, 217, 0.75);  
	width: 100%;
	padding: 10px 35px 10px 15px;
	border-radius: 0.375rem;
	outline: none;
  }
  
  .search-button {
	background: transparent;
	border: none;
	outline: none;
	margin-left: -3.33rem;
  }
  
  .search-button img {
	width: 2rem;
	height: 2rem;
	object-fit: cover;
  }
  


/******************************************
/* MAIN
/*******************************************/

main{
	padding: 3.6rem 0 3.6rem; 
	border-bottom: 2px solid var(--metallic-silver-light);
}

main img{
	width: 100%; 
	padding: 1rem 0 3rem 0;
}

main h1 {
	color: var(--mako);
	font-weight: 700;
	margin-bottom: 1.2rem; 
}

main p{
	color: var(--oslo-grey);
	margin-bottom: 2.4rem;
	letter-spacing: 2.5px;
	font-weight: 500;
}




/******************************************
/* Projects
/*******************************************/


.projects {
	padding-top: 3.6rem;

}

section > h2{
	color: var(--mako);
	border-bottom:var(--green) solid 3px;
	display: inline-block;
	padding-bottom: 1rem;;
	margin-bottom: 3.6rem; 


}

.project img{
	width: 100%;
}

.project{
	margin-bottom: 3rem;  
	padding: 0 0 0rem; 
	border-bottom: 2px solid var(--metallic-silver-light);
}

.project h3{
	padding-top: 1.5rem;
	margin-bottom: 1.5rem;
	color:var(--mako);
	font-weight: 700;
}

.project h3 + div {
	margin-bottom: 2.4rem;
}

.project p {
	color: var(--oslo-grey)
}

.project strong {
	color: var(--mako);
	font-weight: 600;
}






/******************************************
/* TYPOGRAPHY
/*******************************************/

nav li, nav i {
	font-size: 1.5rem;
}

nav >  i {
	font-size: 1.8rem;
}


header > a {
	font-size: 1.6rem; ;
}


main h1 {
	font-size: 2.4rem; ;
}

main p {
	font-size: 1rem;
}


header > a {
	font-size: 1.5rem; ;
}

section > h2 {
	font-size: 2rem;
}


.sidenav h3 {
	font-size: 1.5rem;
}

.sidenav i {
	font-size: 1.5rem;
}

.project h3 {
	font-size: 1.5rem;
}

.project p, .project strong{
	font-size: 1.2rem;
}



/******************************************
/* Button
/*******************************************/

.button {
	text-decoration: none;
	padding: 0.75rem 2rem; 
	color: var(--green);
	text-transform: uppercase;
	font-size: 1rem; 
	font-weight: 500;
	border-radius: 3px;
	border: 2px solid var(--green);
	display: inline-block;
}






/******************************************
/* Media Query Manager
/*******************************************/

/*
0-600px;        PHONE
600 - 900px;    Tablet portrait
900 - 1200px;   Tablet landscape
[1200-1800] is where normal styles apply
1800px + :      Big Desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: BASE + Typography > General Layout + Grid > Page Layout > Components
*/

/* 
For Media queries the rem isn't equal to the root setup(ie:
In our case 10px but instead browser default 16px
Ems are the best option for media queries
1em = 16 px; 
*/





/* 360px */
@media only screen and (min-width: 22.5em){
}

/* 600px */
@media only screen and (min-width: 37.5em) {
}


/* 900px */
@media only screen and (min-width: 43em) {
}


/* 900px */
@media only screen and (min-width: 56.25em) {
}


/* 1200px */
@media only screen and (min-width: 68.75em) {
}


/* 1800 px */
@media only screen and (min-width: 112.5em) {}